All courses:

<ng-container *ngIf="(beginnerCourses$ | async) as beginnerCourses">

    <section  *ngIf="beginnerCourses?.length > 0" (click)="chooseCourses('beginner')"> 
      <div id="beginner">
        <app-presentational [list]="beginnerCourses" (courseEdited)="reloadCourses()"></app-presentational>
      </div>
    </section>

  </ng-container>


  <ng-container  *ngIf="(advancedCourses$ | async) as advancedCourses">

    <section  *ngIf="advancedCourses?.length > 0" (click)="chooseCourses('advanced')"> 
      <div id="advanced" >
        <app-presentational [list]="advancedCourses" (courseEdited)="reloadCourses()"></app-presentational>
      </div>
    </section>

  </ng-container>